ion-item{
    --background: #3880ff;
    --color: #fff;
}
ion-button{
    --background: #4c4d46;
}

ion-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert {
    color: red;
}


// h3 {
//     color: black;
// }