<ion-toolbar color="primary">
  <ion-buttons slot="start">
    <ion-button (click)="close()">
      <ion-icon name="close" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title>{{ viewTitle }}</ion-title>
  <ion-buttons slot="end">
    <ion-button (click)="save()">
      <ion-icon name="checkmark" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
 
<ion-content>
 <form [formGroup]="ionicForm">
  <ion-item>
    <ion-label position="stacked">Telefon</ion-label>
    <ion-input type="text" formControlName="title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Treść SMS</ion-label>
    <ion-input type="text" formControlName="desc"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label color="primary">Start:</ion-label>
    <ion-datetime displayFormat="HH:mm" monthShortNames="sty, lu, mar, kwie, maj, czer, lip, sie, wrz, paź, lis, gru" minuteValues="0,15,30,45" cancel-text="Wyjdź" done-text="Zapisz"
        minuteValues="0,15,30,45" formControlName="start"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label color="primary">Koniec:</ion-label>
    <ion-datetime displayFormat="HH:mm" monthShortNames="sty, lu, mar, kwie, maj, czer, lip, sie, wrz, paź, lis, gru" minuteValues="0,15,30,45" cancel-text="Wyjdź" done-text="Zapisz" 
        minuteValues="0,15,30,45" formControlName="end"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Komentarz</ion-label>
    <ion-textarea formControlName="note"></ion-textarea>
  </ion-item>
 </form>
</ion-content>